/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My code starts here*/

body {
    background-color: white;
    color: rgba(64,112,91,255)
}

header > div {
    background-color: rgba(64,112,91,255);
    color: rgba(201,231,202,255);
    padding: 80px 20px 80px 20px;
    margin-bottom: 2em;
}

img {
    height: 3em;
    width: 3em;
}

header img {
    margin-top: 2em;
}

header {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 20px;
    font-weight: bold;
}

button { 
    margin-top: 2em;
    margin-bottom: 2em;
    color: rgba(64,112,91,255);
    background-color: rgba(201,231,202,255);
    border: none;
    padding: 12px 25px;
    border-radius: 4px;
    cursor: pointer;
}

.to-rt {
    display: none;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px 20px;
}

section > div {
    text-align: center;
    background: rgba(201,231,202,255);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    padding: 20px;
    max-width: 300px;
}

h2 {
    font-weight: bold;
    line-height: 2.5em;
}

section p {
    padding: 10px 20px;
    line-height: 2em;

}

footer {
    position: static;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    line-height: 2em;
    background-color: rgba(64,112,91,255);
    color: rgba(201,231,202,255);
    z-index: 999;
    margin-top: 20px;
}

@media screen and (min-height : 487px) {

}

@media screen and (min-width : 487px) {
    footer {
        display: flex;
        justify-content: center;
    }

    footer > p {
        padding: 0 10px;
    }
}

@media screen and (min-width : 759px) {
    footer {
        position: fixed;
    }
}

@media screen and (min-width : 1200px) {
    .to-rt {
        display: block;
        margin-right: 4em;
        line-height: 2em;
    }
    header > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header img {
        margin-top: 0;
        height: 4em;
        width: 4em;
        margin-left: 4em;
    }
}